.container{
    border: 1px solid black;
    width: 1000px;
    height: 20px;
    margin: auto;
    background-color: lightgray;
    border-radius: 1rem;
}

.progress-bar{
    height: 100%;
    border-radius: 1rem;
    transition: width 200ms;
    -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
}
.progress-bar::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(to right, #d0021b, #fb0, #47d912); /* your gradient here */
  }